
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

h1 {
    text-align: center;
}


#carburant-color-rectangle{
    display: inline-block;
    margin-left: 10px;
    border-radius: 50px;
    margin-top: -8px;
    width: 20px;
    height: 20px;
}


#carburant-dropdown {
    width: 250px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#carburant-dropdown .dropdown-menu {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#logo_carbu_viz {
    width: 300px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}


#credits_developpeurs
{
    text-align: center;
}

#github_link
{
    margin : 0 auto;
    display: block;
   margin-top: 10px;
   font-size: 1.5vh;
}

*[id="prix-moyen-graph"][data-dash-is-loading="true"]{
    visibility: hidden;
}
*[id="prix-moyen-graph"][data-dash-is-loading="true"]::before {
    content: "Calcul des données...";
    display: inline-block;
    color: rgb(87, 106, 226);
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-right: 3px solid transparent;
    animation: pulse 1s infinite; 
}


*[id="nombre-stations-graph"][data-dash-is-loading="true"]{
    visibility: hidden;
}
*[id="nombre-stations-graph"][data-dash-is-loading="true"]::before {
    content: "Calcul des données...";
    display: inline-block;
    color: rgb(66, 188, 84);
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-right: 3px solid transparent;
    animation: pulse 1s infinite; 
}


#prix-median-moyen-container {
    margin: 0 auto;
    display: block;
    text-align: center; /* Centrer horizontalement */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
    height: 100%; /* Ajuster la hauteur au contenu */
    width: 20%;
    border: 2px solid #000; /* Bordure de 2 pixels de couleur noire */
    padding: 10px; /* Espacement intérieur de 10 pixels */
}

#prix-median-text, #prix-moyen-text {
    font-weight: bold; /* Texte en gras */
    margin-left: 10px;
}







/* Animation */

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5; 
    }
    100% {
        opacity: 1;
    }
}


